<app-navigation-bar header="Broadcast"></app-navigation-bar>

<main>
    <div class="container">
        <div class="row valign-wrapper">
            <div class="input-field col s9 m10 l11 xl11">
                <textarea id="source" class="materialize-textarea" [(ngModel)]="signedTransaction"></textarea>
                <label for="source">Signed transaction</label>
            </div>
            <div class="col s3 m2 l1 xl1" style="margin-top: 1rem">
                <app-qr-code-reader (created)="onQrReaderCreated($event)"
                    (scanned)="onSourceQrScan($event)"></app-qr-code-reader>
            </div>
        </div>
        <div class="row">
            <div class="center-align">
                <a class="waves-effect waves-light btn" [ngClass]="{'disabled': !signedTransaction}"
                    (click)="broadcast()">Broadcast</a>
            </div>
        </div>
        <div *ngIf="signedTransaction" class="row center-align">
            <div class="col s12" style="margin-top: 0.5rem">
                <a class="waves-effect waves-light btn orange" (click)="clear()">Clear</a>
            </div>
        </div>
    </div>
</main>