<app-navigation-bar header="About"></app-navigation-bar>

<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Mooo wallet</h2>
                <p>Open Source Segwit wallet for Bitcoin.</p>
                <p>No private key is sent over the network ! The transaction signing is done on your computer.</p>
                <p>We don't save your keys so make sure to backup them safely and use them only on virus free computers for maximum security.</p>
                <p>Main futures :</p>
                <ul class="browser-default">
                    <li>Creation and sending from Native Segwit addresses also known as Bech32 addresses</li>
                    <li>Creation and sending from Segwit compatible addresses also known as P2SH(P2WPKH) addresses</li>
                    <li>Sending to multiple addresses in the same transaction to save on transaction fees</li>
                </ul>
                <p>Use at your own risk.</p>
                <p>Check the source code, report issues and contribute to this project via <a href="https://github.com/youssefgh/mooo-wallet" >Github</a> </p>
            </div>
        </div>
    </div>
</main>