<app-navigation-bar header="Send"></app-navigation-bar>

<main>
    <div class="container">
        <div class="row">
            <div class="input-field col s9 m7 center-align" [ngClass]="{'s12 m12': utxosAvailable()}">
                <textarea id="source" class="materialize-textarea" [(ngModel)]="from"
                    [ngClass]="{'valid': isFromValid()}" [disabled]="utxosAvailable()"></textarea>
                <label for="source">Extended Public Key</label>
            </div>
            <div *ngIf="!utxosAvailable()" class="col s3 m1" style="margin-top: 1rem">
                <app-qr-code-reader (scanned)="onSourceQrScan($event)"></app-qr-code-reader>
            </div>
            <div *ngIf="!utxosAvailable()" class="col s12 m4 center-align" style="margin-top: 0.5rem">
                <a class="waves-effect waves-light btn-large pulse" (click)="loadUTXO()">
                    <i class="material-icons left">system_update_alt</i>
                    Load
                    <!-- <span *ngIf="advancedMode"> UTXO</span> -->
                </a>
            </div>
        </div>
        <div class="row" *ngIf="isPossibleLegacyAccount() && !utxosAvailable()">
            <div class="center-align">
                <label>
                    <input type="checkbox" id="isLegacyAccount" [(ngModel)]="isLegacyAccount"
                        [disabled]="utxosAvailable()" />
                    <span for="isLegacyAccount">Legacy account</span>
                </label>
            </div>
        </div>
        <div *ngIf="advancedMode && utxosAvailable() && !psbt" class="row">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Number of confirmations</th>
                        <th>Transaction ID</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of utxoArray; let i = index" [attr.data-index]="i">
                        <td>{{transaction.satoshis | btc}}&nbsp;{{environment.btc}}</td>
                        <td class="center">{{transaction.confirmations}}</td>
                        <td class="hide-on-med-and-up" style="max-width: 140px"><span
                                class="truncate">{{transaction.id}}</span></td>
                        <td class="hide-on-small-and-down">{{transaction.id}}</td>
                        <td>{{transaction.derived.address}}</td>
                        <td>
                            <a class="waves-effect waves-light btn-floating secondary-content" (click)="removeUTXO(i)">
                                <i class="material-icons">remove</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="utxosAvailable()" class="row center-align">
            <div style="font-size: xx-large;">
                Balance : <span class="blue lighten-4 blue-text text-lighten-2"
                    style="border-radius: 0.3rem; padding: 0.5rem">{{balance | btc}}&nbsp;{{environment.btc}}</span>
            </div>
        </div>
        <div *ngIf="balance?.gt(0) && !psbt" class="row">
            <div class="col s2 range-field">
                Fee :
            </div>
            <div class="col s10 range-field">
                <input type="range" style="margin-top: 2px" [min]="minSelectableFee" [max]="maxSelectableFee"
                    [(ngModel)]="satoshiPerByte" (change)="satoshiPerByteChanged()" />
            </div>
            <div class="col s12 center-align">
                <div style="margin-bottom: 10px">
                    <span class="blue"
                        style="border-radius: 2px; padding: 0.3rem; color: #fff; font-size: 0.8rem; font-weight: 300;">
                        {{satoshiPerByte}} Satoshis/Byte
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="balance?.gt(0) && !psbt" class="row">
            <div class="input-field col s12 l5 xl4">
                <input id="amount-to-send" type="number" step="0.00000001" min="0.00000001"
                    [(ngModel)]="selectedAmount" />
                <label for="amount-to-send">Amount to send in {{environment.btc}}</label>
            </div>
            <div class="input-field col s9 l5 xl6">
                <textarea id="destination" class="materialize-textarea" [(ngModel)]="selectedDestination"></textarea>
                <label for="destination">Destination</label>
            </div>
            <div class="col s3 l1 xl1 center-align" style="margin-top: 1rem">
                <app-qr-code-reader (scanned)="onDestinationQrScan($event)"></app-qr-code-reader>
            </div>
            <div class="col s12 l1 center-align" style="margin-top: 1rem">
                <a class="waves-effect waves-light btn-floating" (click)="addDestination()">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>
        <div *ngIf="outputArray.length > 0 && !psbt" class="row">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Destination</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let output of outputArray; let i = index" [attr.data-index]="i">
                        <td>{{output.amount | btc}}&nbsp;{{environment.btc}}</td>
                        <td>{{output.destination}}</td>
                        <td>
                            <a class="waves-effect waves-light btn-floating secondary-content"
                                (click)="removeDestination(i)">
                                <i class="material-icons">remove</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="outputArray.length > 0" class="row">
            <div *ngIf="outputArray.length > 0" class="row center-align">
                <h5>Total amount to Send: {{totalAmountToSend | btc}}&nbsp;{{environment.btc}}</h5>
            </div>
            <div *ngIf="outputArray.length > 0" class="row center-align">
                <h5>Transaction Fee: {{transactionFee | btc}}&nbsp;{{environment.btc}}</h5>
            </div>
            <div *ngIf="outputArray.length > 0" class="row center-align">
                <h5 [ngClass]="{'red-text': isRemainingBalanceNegative()}">Change:
                    {{changeOutput.amount | btc}}&nbsp;{{environment.btc}}</h5>
            </div>
        </div>
        <div *ngIf="outputArray.length > 0 && !isRemainingBalanceNegative() && !psbt" class="row">
            <div class="center-align">
                <a class="waves-effect waves-light btn" (click)="createPsbt()">Create transaction</a>
            </div>
        </div>
        <div *ngIf="psbt" class="row valign-wrapper">
            <div class="col s9">
                <label>Partially signed transaction</label>
                <div style="word-wrap: break-word">
                    {{psbt.base64}}
                </div>
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn" (click)="showQr(psbt.base64)">QR</a>
            </div>
        </div>
        <div *ngIf="psbt && !psbt.signedTransaction" class="row">
            <div class="col s12 input-field">
                <input id="mnemonic" type="text" [(ngModel)]="mnemonic.phrase" />
                <label for="mnemonic">Mnemonic</label>
            </div>
            <div class="col s12 input-field">
                <input id="passphrase" type="text" [(ngModel)]="mnemonic.passphrase" />
                <label for="passphrase">Passphrase</label>
            </div>
            <div class="center-align">
                <a class="waves-effect waves-light btn" (click)="signPsbt()">Sign</a>
            </div>
        </div>
        <div *ngIf="psbt?.signedTransaction" class="row valign-wrapper">
            <div class="col s9">
                <label>Transaction</label>
                <div style="word-wrap: break-word">
                    {{psbt.signedTransaction}}
                </div>
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn" (click)="showQr(psbt.base64)">QR</a>
            </div>
        </div>
        <div *ngIf="psbt?.signedTransaction" class="row">
            <div class="center-align">
                <a class="waves-effect waves-light btn" (click)="broadcast()">Broadcast</a>
            </div>
        </div>
        <div *ngIf="utxoArray.length > 0" class="row center-align">
            <div class="col s12" style="margin-top: 0.5rem">
                <a class="waves-effect waves-light btn orange" (click)="clear()">Clear</a>
            </div>
        </div>
    </div>
</main>
<div class="modal" style="width: 30vw; min-width: 300px" #qrModal>
    <div class="modal-content center-align">
        <app-qr-code [value]="selectedQr" style="width: 100%"></app-qr-code>
    </div>
    <div class="modal-footer" style="text-align: center">
        <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
<!--<div class="switch">
    <label>
      Off
      <input type="checkbox" id="mycheckbox">
      <span class="lever"></span>
      On
    </label>
</div>-->