<ul id="slide-out" class="sidenav sidenav-fixed">
  <li class="center-align" style="line-height: normal">
    <div class="user-view"><img src="../assets/mooo.tech.svg" style="height: 5rem" />
      <h4>{{title}}</h4>
    </div>
  </li>
  <li><a routerLink="/create-wallet"><i class="material-icons">create</i>Create Wallet</a></li>
  <li><a routerLink="/balance"><i class="material-icons">account_balance_wallet</i>Balance</a></li>
  <li><a routerLink="/create-transaction"><i class="material-icons">payment</i>Create transaction</a></li>
  <li><a routerLink="/sign"><i class="material-icons">fingerprint</i>Sign</a></li>
  <li><a routerLink="/broadcast"><i class="material-icons">share</i>Broadcast</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Advanced<i class="material-icons">all_inclusive</i><i
            class="material-icons right">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a routerLink="/descriptor-derivation"><i class="material-icons">call_split</i>
                Descriptor Derivation
              </a>
            </li>
            <li>
              <a routerLink="/multisig-derivation"><i class="material-icons">call_split</i>
                Multisig Derivation
              </a>
            </li>
            <li>
              <a routerLink="/mnemonic-derivation"><i class="material-icons">call_split</i>
                Mnemonic Derivation
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <!-- <li><a routerLink="/settings"><i class="material-icons">settings</i>Settings</a></li> -->
  <li><a routerLink="/about"><i class="material-icons">info</i>About</a></li>
</ul>