<ul id="slide-out" class="sidenav sidenav-fixed" style="width: 330px;">
  <li class="center-align" style="line-height: normal">
    <div class="user-view"><img src="../assets/mooo.tech.svg" style="height: 5rem" />
      <h4>{{title}}</h4>
    </div>
  </li>
  <li><a routerLink="/create-wallet"><i class="material-symbols-outlined">create</i>Create Wallet</a></li>
  <li><a routerLink="/balance"><i class="material-symbols-outlined">account_balance_wallet</i>Balance</a></li>
  <li><a routerLink="/create-transaction"><i class="material-symbols-outlined">payment</i>Create transaction</a></li>
  <li><a routerLink="/sign"><i class="material-symbols-outlined">fingerprint</i>Sign</a></li>
  <li><a routerLink="/broadcast"><i class="material-symbols-outlined">share</i>Broadcast</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Advanced<i class="material-symbols-outlined">all_inclusive</i><i
            class="material-symbols-outlined right">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <div style="padding-left: 10px;">
            <ul>
              <li>
                <a routerLink="/create-multisig-wallet"><i class="material-symbols-outlined">create</i>
                  Create Multisig Wallet
                </a>
              </li>
              <li>
                <a routerLink="/create-multisig-taproot-wallet"><i class="material-symbols-outlined">create</i>
                  Create Multisig Taproot Wallet
                </a>
              </li>
              <li>
                <a routerLink="/mnemonic-derivation"><i class="material-symbols-outlined">call_split</i>
                  Mnemonic Derivation
                </a>
              </li>
              <li>
                <a routerLink="/descriptor-derivation"><i class="material-symbols-outlined">call_split</i>
                  Descriptor Derivation
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </li>
  <!-- <li><a routerLink="/settings"><i class="material-symbols-outlined">settings</i>Settings</a></li> -->
  <li><a routerLink="/about"><i class="material-symbols-outlined">info</i>About</a></li>
</ul>