<app-navigation-bar header="Mnemonic Derivation"></app-navigation-bar>

<main>
    <div class="container">
        <div class="row center-align">
            <div class="col s12 input-field">
                <input id="mnemonic" type="text" [(ngModel)]="mnemonic.phrase" />
                <label for="mnemonic">Mnemonic</label>
            </div>
        </div>
        <div class="row center-align">
            <div class="col s12 input-field">
                <input id="passphrase" type="text" [(ngModel)]="mnemonic.passphrase">
                <label for="passphrase">Passphrase (optional)</label>
            </div>
        </div>
        <div class="row center-align">
            <div class="col s3">
                <label>
                    <input name="derivationPathGroup" type="radio" [checked]="purpose === 48" (click)="setBIP(48)" />
                    <span>BIP48</span>
                </label>
            </div>
            <div class="col s3">
                <label>
                    <input name="derivationPathGroup" type="radio" [checked]="purpose === 49" (click)="setBIP(49)" />
                    <span>BIP49</span>
                </label>
            </div>
            <div class="col s3">
                <label>
                    <input name="derivationPathGroup" type="radio" [checked]="purpose === 84" (click)="setBIP(84)" />
                    <span>BIP84</span>
                </label>
            </div>
            <div class="col s3">
                <label>
                    <input name="derivationPathGroup" type="radio" [checked]="purpose === 86" (click)="setBIP(86)" />
                    <span>BIP86</span>
                </label>
            </div>
        </div>
        <div class="row center-align">
            <div class="col s12 input-field">
                <input id="account" type="number" min="0" [(ngModel)]="account">
                <label for="account">Account</label>
            </div>
            <div class="col s12 input-field">
                <input id="change" type="number" min="0" max="1" [(ngModel)]="change">
                <label for="change">Change</label>
            </div>
            <ng-container *ngIf="purpose == 48">
                <div class="col s12 input-field">
                    <input id="script" type="number" min="0" max="2" [(ngModel)]="script" readonly>
                    <label for="script">Script</label>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="center-align">
                <a class="waves-effect waves-light btn-large" (click)="derive()">Derive</a>
            </div>
        </div>
        <div *ngIf="privateDescriptor" class="row center-align">
            <div class="col s12 input-field">
                <textarea id="privateDescriptor" class="materialize-textarea"
                    [(ngModel)]="privateDescriptor"></textarea>
                <label for="privateDescriptor">Private descriptor (Account {{account}})</label>
            </div>
        </div>
        <div *ngIf="publicDescriptor" class="row center-align">
            <div class="col s12 input-field">
                <textarea id="publicDescriptor" class="materialize-textarea" [(ngModel)]="publicDescriptor"></textarea>
                <label for="publicDescriptor">Public descriptor (Account {{account}})</label>
            </div>
        </div>
        <div *ngIf="privateDescriptorKey" class="row center-align">
            <div class="col s12 input-field">
                <textarea id="privateDescriptorKey" class="materialize-textarea"
                    [(ngModel)]="privateDescriptorKey"></textarea>
                <label for="privateDescriptorKey">Private descriptor key (Account {{account}})</label>
            </div>
        </div>
        <div *ngIf="publicDescriptorKey" class="row center-align">
            <div class="col s12 input-field">
                <textarea id="publicDescriptorKey" class="materialize-textarea" [(ngModel)]="publicDescriptorKey"></textarea>
                <label for="publicDescriptorKey">Public descriptor key (Account {{account}})</label>
            </div>
        </div>
        <div class="row">
            <table *ngIf="derivedArray && derivedArray.length !== 0" class="highlight centered responsive-table">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let derived of derivedArray; let i = index">
                        <td>{{i}}</td>
                        <td>{{derived.address}}</td>
                        <td>
                            <a class="waves-effect waves-light btn" (click)="showQr(derived.address.value)">QR</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="center-align">
                <a *ngIf="derivedArray" class="waves-effect waves-light btn" (click)="more()">More</a>
            </div>
        </div>
        <div #scrollTarget></div>
    </div>
</main>
<div class="modal" style="width: 30vw; min-width: 280px" #qrModal>
    <div class="modal-content center-align">
        <app-qr-code [value]="selectedQr" style="width: 180px"></app-qr-code>
        <p style="font-size: smaller">{{selectedQr}}</p>
    </div>
    <div class="modal-footer" style="text-align: center">
        <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>