<navigation-bar header="Balance"></navigation-bar>

<main>
    <div class="container">
        <div class="row">
            <div class="input-field col s12 xl6 center-align">
                <input id="address" type="text" [disabled]="confirmedBalance" [(ngModel)]="address"/>
                <label for="address">Address</label>
            </div>
            <div class="col s12 xl6 center-align" style="margin-top: 0.5rem">
                <a *ngIf="!confirmedBalance" class="waves-effect waves-light btn-large pulse" [ngClass]="{'pulse': address == null}" (click)="loadBalance()">
                    <i class="material-icons left">system_update_alt</i>
                    Load
                </a>
                <a [ngClass]="{'hide': confirmedBalance == null}" class="waves-effect waves-light btn-large blue" (click)="reloadBalance()">
                    <i class="material-icons left">cached</i>
                    Reload
                </a>
                <a [ngClass]="{'hide': confirmedBalance == null}" class="waves-effect waves-light btn-large orange" (click)="clear()">
                    <i class="material-icons left">eject</i>
                    Clear
                </a>
            </div>
        </div>
        <div *ngIf="confirmedBalance">
            <div class="row">
                <div class="col s12 center-align">
                    <h3>
                        Confirmed Balance : <span class="blue lighten-4 blue-text text-lighten-2" style="border-radius: 0.3rem; padding: 0.5rem; line-height: 4rem">{{confirmedBalance}}&nbsp;{{environment.btc}}</span>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <h4>
                        Unconfirmed Balance : <span class="yellow lighten-4 blue-text text-lighten-2" style="border-radius: 0.3rem; padding: 0.5rem; line-height: 4rem">{{unconfirmedBalance}}&nbsp;{{environment.btc}}</span>
                    </h4>
                </div>
            </div>
            <div *ngIf="!transactionArray" class="row">
                <div class="col s12 center-align">
                    <a class="waves-effect waves-light btn" (click)="loadHistory()"><i class="material-icons left">history</i>Load history</a>
                </div>
            </div>
            <div *ngIf="transactionArray" class="row">
                <table>
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>Number of confirmations</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of transactionArray; let i = index" [attr.data-index]="i">
                            <td>{{transaction.id}}</td>
                            <td>{{transaction.confirmations}}</td>
                            <td *ngIf="transaction.amount > 0"><span class="new badge left green" [attr.data-badge-caption]="environment.btc">+{{transaction.amount}}</span></td>
                            <td *ngIf="transaction.amount < 0"><span class="new badge left red" [attr.data-badge-caption]="environment.btc">{{transaction.amount}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
