<app-navigation-bar header="Create Wallet"></app-navigation-bar>

<main>
    <div class="container">
        <div class="row center-align">
            <div *ngIf="!wallet" class="col s12">
                <label>
                    <input type="checkbox" id="nativeSegwitActivation" [(ngModel)]="useNativeSegwit" />
                    <span for="nativeSegwitActivation">Native Segwit</span>
                </label>
            </div>
            <div *ngIf="!wallet" class="col s12 input-field">
                <input id="passphrase" type="text" [(ngModel)]="mnemonic.passphrase">
                <label for="passphrase">Passphrase (optional)</label>
            </div>
        </div>
        <div class="row">
            <div class="center-align">
                <a *ngIf="!useNativeSegwit && (!usePassphrase || mnemonic.passphrase) && !wallet"
                    class="waves-effect waves-light btn-large" [ngClass]="{'pulse': wallet == null}"
                    (click)="newSegwitP2wpkhInP2sh()">Generate</a>
                <a *ngIf="useNativeSegwit && (!usePassphrase || mnemonic.passphrase) && !wallet"
                    class="waves-effect waves-light btn-large" [ngClass]="{'pulse': wallet == null}"
                    (click)="newP2wpkh()">Generate</a>
            </div>
        </div>
        <div *ngIf="wallet" class="row">
            <div class="center-align">
                <a class="btn waves-effect waves-light" [routerLink]="['/ExtendedKeyDerivation']"
                    [queryParams]="{key: wallet.xpub}">
                    <i class="material-icons right">send</i>
                    Addresses from extended public key
                </a>
            </div>
        </div>
        <div *ngIf="wallet" class="row">
            <div class="input-field">
                <input id="xpub" value="{{wallet.xpub}}" readonly />
                <label for="xpub" class="active">Extended public key</label>
            </div>
        </div>
        <div *ngIf="wallet" class="row">
            <div class="input-field">
                <input id="mnemonic" value="{{mnemonic.phrase}}" readonly />
                <label for="mnemonic" class="active">Mnemonic</label>
            </div>
        </div>
        <div *ngIf="wallet && mnemonic.passphrase" class="row">
            <div class="input-field">
                <input id="passphrase" value="{{mnemonic.passphrase}}" readonly />
                <label for="passphrase" class="active">Passphrase</label>
            </div>
        </div>
        <div class="row">
            <div class="center-align">
                <a *ngIf="wallet" class="waves-effect waves-light btn-large" (click)="clean()">Clean</a>
            </div>
        </div>
    </div>
</main>