<app-navigation-bar header="Create Wallet"></app-navigation-bar>

<main>
    <div class="container">
        <div class="row center-align">
            <div *ngIf="!wallet">
                <label class="col s4 offset-s2">
                    <input name="walletType" type="radio" [value]="'segwit'" [(ngModel)]="walletType" />
                    <span>Segwit</span>
                </label>
                <label class="col s4">
                    <input name="walletType" type="radio" [value]="'taproot'" [(ngModel)]="walletType" />
                    <span>Taproot</span>
                </label>
            </div>
            <div *ngIf="!wallet" class="col s12 input-field">
                <input id="passphrase" autocomplete="off" [(ngModel)]="mnemonic.passphrase">
                <label for="passphrase">Passphrase (optional)</label>
            </div>
        </div>
        <div class="row">
            <div class="center-align">
                <a *ngIf="isSegwit() && (!usePassphrase || mnemonic.passphrase) && !wallet"
                    class="waves-effect waves-light btn-large" (click)="newP2wpkh()">Generate</a>
                <a *ngIf="isTaproot() && (!usePassphrase || mnemonic.passphrase) && !wallet"
                    class="waves-effect waves-light btn-large" (click)="newP2tr()">Generate</a>
            </div>
        </div>
        <div *ngIf="wallet" class="row">
            <div class="center-align">
                <a class="btn waves-effect waves-light" [routerLink]="['/descriptor-derivation']"
                    [queryParams]="{descriptor: wallet.outputDescriptor}">
                    <i class="material-symbols-outlined right">send</i>
                    Addresses from descriptor
                </a>
            </div>
        </div>
        <div *ngIf="wallet" class="row">
            <div class="input-field">
                <textarea id="outputDescriptor" class="materialize-textarea" [(ngModel)]="wallet.outputDescriptor"
                    readonly>
                </textarea>
                <label for="outputDescriptor" class="active">Descriptor</label>
            </div>
        </div>
        <div *ngIf="wallet" class="row">
            <div class="input-field">
                <input id="mnemonic" value="{{mnemonic.phrase}}" readonly />
                <label for="mnemonic" class="active">Mnemonic</label>
            </div>
        </div>
        <div *ngIf="wallet && mnemonic.passphrase" class="row">
            <div class="input-field">
                <input id="passphrase" value="{{mnemonic.passphrase}}" readonly />
                <label for="passphrase" class="active">Passphrase</label>
            </div>
        </div>
        <div class="row">
            <div class="center-align">
                <a *ngIf="wallet" class="waves-effect waves-light btn-large" (click)="clean()">Clean</a>
            </div>
        </div>
    </div>
</main>