<app-navigation-bar header="Sign"></app-navigation-bar>

<main>
    <div class="container">
        <div class="row">
            <div class="input-field col s10 m10 l11 xl11">
                <textarea id="source" class="materialize-textarea" [(ngModel)]="psbtString"></textarea>
                <label for="source">Psbt</label>
            </div>
            <div class="col s2 m2 l1 xl1 file-field input-field">
                <app-qr-code-reader (created)="onQrReaderCreated($event)" (scanned)="onSourceQrScan($event)"
                    (error)="onSourceQrScanError($event)"></app-qr-code-reader>
            </div>
        </div>
        <div *ngIf="!psbt" class="row center-align">
            <a class="waves-effect waves-light btn-large" (click)="load()">
                <i class="material-symbols-outlined left">system_update_alt</i>
                Load
            </a>
        </div>
        <div *ngIf="psbt" class="row">
            <div class="center-align">
                <h4>Sending :</h4>
                <h5 *ngFor="let walletDestination of psbtTransactionDetails.walletDestinationList"
                    style="word-wrap: break-word">
                    <span class="green-text">{{walletDestination.amount}} BTC</span>
                    =>
                    <span style="text-decoration: underline;">{{walletDestination.address}}</span>
                    <span *ngIf="walletDestination.change" class="new badge orange" data-badge-caption="Change"></span>
                </h5>
            </div>
        </div>
        <div *ngIf="signResult?.signedTransaction" class="row">
            <div class="center-align">
                <h5>Fee:
                    <span class="red-text">
                        {{psbtTransactionDetails.fee}} sat ({{psbtTransactionDetails.feeRate}} sat/vB)
                    </span>
                </h5>
            </div>
        </div>
        <div *ngIf="psbt && !signResult" class="row">
            <div class="col s12 input-field">
                <input id="mnemonic" type="text" [(ngModel)]="mnemonic.phrase" />
                <label for="mnemonic">Mnemonic</label>
            </div>
            <div class="col s12 input-field">
                <input id="passphrase" autocomplete="off" [(ngModel)]="mnemonic.passphrase" />
                <label for="passphrase">Passphrase</label>
            </div>
            <div class="center-align">
                <a class="waves-effect waves-light btn" (click)="sign()">Sign</a>
            </div>
        </div>
        <div *ngIf="signResult?.signedTransaction" class="row center-align">
            <h5>Signed transaction :</h5>
        </div>
        <div *ngIf="signResult?.signedTransaction" class="row valign-wrapper">
            <div class="col s9 m10 l11 xl11">
                <label></label>
                <div style="word-wrap: break-word">
                    {{signResult.signedTransaction}}
                </div>
            </div>
            <div class="col s3 m2 l1 xl1">
                <a class="waves-effect waves-light btn" (click)="showQr(signResult)">QR</a>
            </div>
        </div>
        <div *ngIf="signResult?.psbtBase64" class="row center-align">
            <h5 *ngIf="signResult.threshold && signResult.signatureCount < signResult.threshold">
                Psbt ({{signResult.signatureCount}} of {{signResult.threshold}} signed) :
            </h5>
            <h5 *ngIf="!signResult.threshold">
                Psbt ({{signResult.signatureCount}} of ? signed) :
            </h5>
        </div>
        <div *ngIf="signResult?.psbtBase64" class="row valign-wrapper">
            <div class="col s9 m10 l11 xl11">
                <div style="word-wrap: break-word">
                    {{signResult.psbtBase64}}
                </div>
            </div>
            <div class="col s3 m2 l1 xl1">
                <a class="waves-effect waves-light btn" (click)="showQr(signResult)">QR</a>
            </div>
        </div>
        <div *ngIf="signResult?.signedTransaction" class="row">
            <div class="center-align">
                <a class="waves-effect waves-light btn" (click)="broadcast()">Broadcast</a>
            </div>
        </div>
        <div *ngIf="psbtString" class="row center-align">
            <div class="col s12" style="margin-top: 0.5rem">
                <a class="waves-effect waves-light btn orange" (click)="clear()">Clear</a>
            </div>
        </div>
    </div>
    <div *ngIf="urDecoder.expectedPartCount() > 0" class="progress" style="bottom: 0; position: fixed;">
        <div class="determinate" [style.width.%]="urDecoder.getProgress()*100"></div>
    </div>
</main>
<div class="modal" style="width: 30vw; min-width: 300px" #qrModal>
    <div class="modal-content center-align" style="padding: 1vw;">
        <app-qr-code [value]="selectedQrList"></app-qr-code>
    </div>
    <div class="modal-footer" style="text-align: center">
        <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>