/* You can add global styles to this file, and also import other style files */
@import '../node_modules/materialize-css/dist/css/materialize.min.css';
@import '../node_modules/material-symbols/outlined.css';

main {
    margin-top: 2.6rem;
}

header, main {
    padding-left: 0px;
}

@media screen and (min-width: 993px) {
    header, main {
        padding-left: 300px;
    }
}

@media only screen and (min-width: 993px){
    .container {
        width: 80%;
    }
}
