<app-navigation-bar header="Descriptor Derivation"></app-navigation-bar>

<main>
    <div class="container">
        <div class="row center-align">
            <div class="col s10 xl11 input-field">
                <textarea id="key" class="materialize-textarea" [(ngModel)]="descriptor"></textarea>
                <label for="key">Descriptor</label>
            </div>
            <div class="col s2 xl1 file-field input-field">
                <app-qr-code-reader (created)="onQrReaderCreated($event)"
                    (scanned)="onQrScan($event)"></app-qr-code-reader>
            </div>
        </div>
        <div class="row">
            <div class="center-align">
                <a class="waves-effect waves-light btn-large" (click)="deriveReceiving()">Derive Receiving Addresses</a>
            </div>
        </div>
        <div class="row">
            <div class="center-align">
                <a class="waves-effect waves-light btn-large" (click)="deriveChange()">Derive Change Addresses</a>
            </div>
        </div>
        <div class="row">
            <table *ngIf="derivedArray && derivedArray.length !== 0" class="highlight centered responsive-table">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let derived of derivedArray; let i = index">
                        <td>{{i}}</td>
                        <td>{{derived.address}}</td>
                        <td>
                            <a class="waves-effect waves-light btn" (click)="showQr(derived.address.value)">QR</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="center-align">
                <a *ngIf="derivedArray" class="waves-effect waves-light btn" (click)="more()">More</a>
            </div>
        </div>
        <div #scrollTarget></div>
    </div>
</main>
<div class="modal" style="width: 30vw; min-width: 280px" #qrModal>
    <div class="modal-content center-align" style="padding: 1vw;">
        <app-qr-code [value]="selectedQrList" style="width: 180px"></app-qr-code>
        <p style="font-size: smaller">{{selectedQrList}}</p>
    </div>
    <div class="modal-footer" style="text-align: center">
        <a class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>